body {
    font-family: Arial, sans-serif;
    background-color: #181818; /* Dark gray background */
    backdrop-filter: blur(10px); /* Subtle background blur */
    color: #f2f2f2; /* Light gray text for contrast */
    /* Remove overflow: hidden */
}

.container {
    max-width: 55%;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #282828; /* Slightly darker gray border */
    background-color: rgba(50, 50, 50, 0.85); /* Lighter gray container */
    border-radius: 5px;
    backdrop-filter: blur(15px); /* Blur for glass morphism */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

h1 {
    text-align: center;
    color: #e0e0e0; /* Light gray heading */
    font-size: 2.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
}

.foot {
    background-color: #f9f9f9; /* Light gray footer */
}

.bold-link {
    font-size: large;
    font-weight: bold;
    color: #007bff; /* Blue for a corporate look */
}

label {
    font-weight: bold;
    color: #e0e0e0; /* Light gray label */
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333333; /* Dark gray border */
    border-radius: 3px;
    background-color: rgba(80, 80, 80, 0.8); /* Lighter gray for input backgrounds */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inner shadow */
    color: #e0e0e0; /* Light gray text */
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    background-color: #007bff; /* Blue button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Button shadow */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
